<div>
  <h1>Baby Steps</h1>
  <div class="col-md-7">
    <%= image_tag 'babystepsback.jpg' %>
  </div>

  <div class="col-md-5" style="" class = "container">
    <h3> Your baby's development one skill at a time.
     There are over 300 skills your baby may learn during their first year.
     Discover your baby's current and upcoming skills.
    </h3>
  </div>
</div>
