<div >
  <h1> <%= @child.child_name%>'s profile </h1>
  <%= link_to "Add New Skill", child_skills_path(@child), class: 'btn btn-info' %>

  <div class="row">
    <div  id="currentSkillsData" class="col-md-4"> 
      <button id="current-skill" class='btn btn-info'> Current Skills </button>
    </div>
    
    <div id="recent5Skills" class="col-md-4"> 
      <button id="recent-skill" class='btn btn-info'> Rencent 5 Skills </button>

     <%#<%= link_to "Latest 5 skills learned ", recent_child_skills_path(@child), class: 'btn btn-info' %> 
    </div>
  </div>
</div>
